<h2><%= @booking.offer.book.title%></h2>
<div id="message-content">
  <% @booking.messages.each do |message| %>
    <p><%= message.content %></p>
    <h4><%= message.created_at.strftime("%d %b. %Y") %> - <%= message.created_at.strftime("%H:%M") %></h4>
    <p><%= message.booking.user.first_name %></p>
  <% end %>
</div>

<%= simple_form_for [@booking, @message], :remote => true  do  |f| %>
  <%= f.input :content %>
  <%= f.submit "envoyer", class: "btn btn-primary", id: "bouton-message" %>
<% end %>
