<div class="inbox-header">
  <h2><%= @booking.offer.book.title%></h2>

<div id="messages-buttons" class="forms-inline">
  <%= render 'buttons' %>
</div>
<hr>

<div id="message-content">



  <% @messages.each do |message| %>
    <%= render 'messages/message', message: message %>
  <% end %>
</div>

<%= simple_form_for [@booking, @message], :remote => true  do  |f| %>
  <%= f.input :content, as: :text, label: false %>
  <%= f.submit "envoyer", class: "btn btn-primary", id: "bouton-message" %>
<% end %>
