<% content_for :title, "Messagerie" %>

<div class="container">
  <div class="padded">


  <div class="inbox-content-container">
    <div class="row">
      <div class="col-md-4">
        <div class="inbox-index">
          <% if @borrow_bookings != [] %>
              <h3 class="booking-title">Mes demandes</h3>
              <ul class="list-unstyled">

                <% @borrow_bookings.each do |borrow| %>
                    <%= link_to booking_path(borrow), class: "see_message_link", remote: :true do %>
                      <li class="js-booking-inbox js-booking-inbox-<%= borrow.id %>">
                        <div class="row">
                          <div class="col-xs-3">
                            <% borrow.messages.each do |message| %>
                              <% if message.read_at == nil %>
                                <div class="icon-badge icon-badge-red inbox-notif"></div>
                              <% end %>
                            <% end %>
                            <%= image_tag (borrow.offer.user.profil_img ? borrow.offer.user.profil_img : borrow.offer.user.picture.url(:thumb)), class: "img-responsive img-circle" %>
                          </div>
                          <div class="col-xs-9">
                            <h3><%= borrow.offer.book.title%></h3>
                            <h4><%= borrow.offer.user.first_name%> -
                              <span>
                                <% if borrow.state == "pending" %>
                                  en attente de validation
                                <% elsif borrow.state == "accepted" %>
                                  prêt en cours
                                <% elsif borrow.state == "canceled" %>
                                  demande annulée
                                <% else %>
                                  prêt terminé
                                <% end %>
                              </span>
                            </h4>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
              <% end %>
            </ul>

          <% if @lend_bookings != [] %>
            <h3 class="booking-title">Mes emprunts</h3>

            <ul class="list-unstyled">
              <% @lend_bookings.each do |lending| %>
                  <%= link_to booking_path(lending), class: "see_message_link", remote: :true do %>
                    <li class="js-booking-inbox js-booking-inbox-<%= lending.id %>">
                    <div class="row">
                      <div class="col-xs-3">
                        <% lending.messages.each do |message| %>
                          <% if message.read_at == nil %>
                            <div class="icon-badge icon-badge-red inbox-notif"></div>
                          <% end %>
                        <% end %>
                        <%= image_tag (lending.user.profil_img ? lending.user.profil_img : lending.user.picture.url(:thumb)), class: "img-responsive img-circle" %>
                      </div>
                      <div class="col-xs-9">
                        <h3><%= lending.offer.book.title%></h3>
                        <h4><%= lending.user.first_name%> -
                          <span>
                            <% if lending.state == "pending" %>
                              en attente de validation
                            <% elsif lending.state == "accepted" %>
                              prêt en cours
                            <% elsif lending.state == "canceled" %>
                              demande annulée
                            <% else %>
                              prêt terminé
                            <% end %>
                          </span>
                        </h4>
                      </div>
                    </div>
                  </li>
                <% end %>
            <% end %>
            <% end %>
          </ul>

        </div><!-- inbox-index -->
      </div><!-- col-md-3 -->

      <div class="col-md-8">
        <div id="messages" class="inbox-conversation">
          <% if @borrow_bookings == [] &&  @lend_bookings == [] %>
            <div class="text-center">
              <h2 class="text-center">Pas encore de prêts de livres ? Hop hop ! On s'active !</h2>
              <%= link_to  'Parcourir la bibliothèque', books_path,  class: "btn btn-primary" %>
            </div>
          <% end %>

        </div>
      </div>
      </div><!-- row -->

    </div><!-- inbox-content-container -->
  </div><!-- padded -->
</div><!-- container -->

<% content_for :after_js do %>
  <script>
    var click_on_first_message = function (){ $(".see_message_link").first().click(); };

    $( click_on_first_message );
  </script>
<% end %>
