<div class="container">
  <div class="padded">
    <div class="row">
      <div class="col-md-3">
        <h4 class="green">Mes demandes</h4>
        <ul class="list-unstyled">
          <% @borrow_bookings.each do |borrow| %>
              <%= link_to booking_path(borrow), class: "see_message_link", remote: :true do %>
                <div class="row">
                  <div class="col-xs-3">
                    <%= image_tag(borrow.user.picture, class: "img-responsive img-circle") %>
                  </div>
                  <div class="col-xs-9">
                    <h4><%= borrow.offer.book.title%></h4>
                    <h4><%= borrow.user.first_name%> - <span class="green"><%= borrow.state %></span></h4>
                  </div>
                </div>
              <% end %>
            </li>
            <hr>
          <% end %>
        </ul>

        <h4 class="green">Mes emprunts</h4>
        <ul class="list-unstyled">
          <% @lend_bookings.each do |lending| %>
              <%= link_to booking_path(lending), class: "see_message_link", remote: :true do %>
                <div class="row">
                  <div class="col-xs-3">
                    <%= image_tag(lending.user.picture, class: "img-responsive img-circle") %>
                  </div>
                  <div class="col-xs-9">
                    <h4><%= lending.offer.book.title%></h4>
                    <h4><%= lending.user.first_name%> - <span class="green"><%= lending.state %></span></h4>
                  </div>
                </div>
              <% end %>
            </li>
            <hr>
          <% end %>
        </ul>

      </div>

      <div class="col-md-9" id="messages">
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    var click_on_first_message = function (){ $(".see_message_link").first().click(); };

    $( click_on_first_message );
  </script>
<% end %>
