<div class="container">
  <div class="row">
    <div class="padded">
      <div class="col-sm-2">
        <%=image_tag @user.picture, class: "img-responsive" %>
        <% if @user.id== current_user.id %>
          <%= link_to edit_user_registration_path do %>
          <i class="fa fa-pencil"></i>
          <% end %>
        <% end %>
        <h4><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></h4>
        <h4>2 commentaires</h4>
        <h4 class="badge"><i class="fa fa-map-marker"></i> <%= @user.address1 %> </h4>
      </div>

      <div class="col-sm-10">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ratione praesentium, reprehenderit maiores similique eveniet sed facilis fuga itaque autem amet officiis aut saepe iure libero nam accusantium sunt provident!</p>
      </div>

      <div class="col-sm-10">
        <h3>Ses livres</h3>
        <% @books.each do |book|%>
         <div class="col-xs-6 col-sm-2">
            <%= link_to book_path(book), :class => "card" do %>
             <div class="small" style="background-image:url('<%= image_url book.image %>')"></div>
            <% end %>
         </div>
        <% end %>
      </div>

      <div class="col-sm-offset-2 col-sm-10">
         <h3>Ses emprunts</h3>
          <% @bookings.each do |booking|%>
         <div class="col-xs-6 col-sm-2">
             <div class="small" style="background-image:url('<%= image_url booking.offer.book.image %>')"></div>
         </div>
         <% end %>
      </div>
      </div>



      <div class="col-sm-offset-2 col-sm-10">
         <h3>Ses commentaires</h3>

      </div>
    </div>
  </div>
</div>

