<div class="container">
  <div class="row">
    <div class="padded">
      <div class="col-sm-2">
        <%=image_tag @user.picture, class: "img-responsive" %>
        <% if @user.id== current_user.id %>
          <%= link_to edit_user_registration_path do %>
          <i class="fa fa-pencil"></i>
          <% end %>
        <% end %>
        <h4><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></h4>
        <h4>2 commentaires</h4>
        <h4 class="badge"><i class="fa fa-map-marker"></i> <%= @user.address1 %> </h4>
      </div>

      <div class="col-sm-10">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ratione praesentium, reprehenderit maiores similique eveniet sed facilis fuga itaque autem amet officiis aut saepe iure libero nam accusantium sunt provident!</p>

        <ul class="style-unstyled list-inline">
          <li><a href="#">Ses livres</a></li>
          <li><a href="#">Ses emprunts</a></li>
          <li><a href="#">Ses commentaires</a></li>
        </ul>

        <div>
          <% @books.each do |book|%>
            <h2><%= book.title %></h2>
            <p><%= book.description %></p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

