<div class="container">
  <div class="row">
    <div class="card">

      <div class="row">
        <div class="col-sm-4">
          <%= image_tag (@user.profil_img ? @user.profil_img : @user.picture.url(:medium)), class: "img-responsive img-circle center-block" %>

        </div>

        <div class="col-sm-8">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <p><%= @user.description %></p>
          <h2><%= @user.address1 %></h2>

          <!-- Editer profil -->
          <% if @user.id== current_user.id %>
          <%= link_to edit_user_registration_path do %>
          <p><i class="fa fa-pencil"></i> Éditer mon profil</p>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row"><!--Debut row-->
    <div class="padded">
      <div class="col-sm-12">
        <h2 class="text-center">Ses livres</h2>
        <% @offers.each do |offer| %>
         <div class="card-book">
          <div class="col-xs-12 col-sm-4">
             <%= link_to book_path(offer.book) do %>
                <div class="card-image" style='background-image: url("<%= image_url offer.book.image %>")'></div>
             <% end %>
             <div class="card">
               <h2 class="text-center"><%= offer.book.title %></h2>
               <p class="text-center"><%= offer.book.category %></p>
               <h4 class="text-center"><%= offer.book.author %></h4>
               <h4 class="card-footer text-center"><i class="fa fa-map-marker fa-lg green"></i> <%= offer.book.offers.count%> prêteurs</h4>

             </div>
             <%= link_to( offer_path(offer), {method: :delete, data: { confirm: "Are you sure?"}}) do %>
             <i class="fa fa-trash-o"></i>
             <% end %>
          </div>
         </div>
        <% end %>
      </div>
    </div>
  </div><!--Fin row-->

</div>
