<div class="container">
  <div class="row">
    <div class="card">

      <div class="row">
        <div class="col-sm-4">
          <%= image_tag (@user.profil_img ? @user.profil_img : @user.picture.url(:medium)), class: "img-responsive img-circle center-block" %>

        </div>

        <div class="col-sm-8">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <p><%= @user.description %></p>
          <h2><%= @user.address1 %></h2>

          <!-- Editer profil -->
          <% if @user.id== current_user.id %>
          <%= link_to edit_user_registration_path do %>
          <p><i class="fa fa-pencil"></i> Éditer mon profil</p>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div id="bookshelf" class="row bookshelf">
      <h2 class="text-center">Ses livres</h2>
        <% @offers.each do |offer| %>
          <div class="col-xs-12 col-sm-3 block-book-user">
            <%= link_to book_path(offer.book) do %>
              <div class="image-container">
                <%= image_tag(offer.book.image, class: "book img-responsive") %>
              </div>
            <% end %>
                 <div>
                  <h2 class="text-center"><%= offer.book.title %></h2>
                 </div>
                   <%= link_to(offer_path(offer), {method: :delete, data: { confirm: "Are you sure?"}}) do %>
                     <h4 class="text-center green"><i class="fa fa-trash-o fa-lg green"></i> Supprimer ce livre</h4>
                  <% end %>
          </div>
        <% end %>
    </div>
  </div>
