<div class="container">
  <div class="row">
    <div class="card">

      <div class="row">
        <div class="col-sm-4">
          <%=image_tag @user.picture, class: "img-responsive img-circle center-block" %>
        </div>

        <div class="col-sm-8">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <h2><%= @user.address1 %></h2>
          <p><%= @user.description %></p>

          <!-- Editer profil -->
          <% if @user.id== current_user.id %>
            <%= link_to edit_user_registration_path do %>
            <p><i class="fa fa-pencil"></i> Éditer mon profil</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row"><!--Debut row-->
    <div class="padded">
      <div class="col-sm-12">
        <h2 class="text-center">Ses livres</h2>
        <% @offers.each do |offer| %>
         <div class="card-book">
            <div class="col-xs-12 col-sm-4">
             <%= link_to book_path(offer.book) do %>
               <div class="card-image" style='background-image: url("<%= image_url offer.book.image %>")'></div>
             <% end %>
               <div class="card">
                 <h2><%= offer.book.title %></h2>
                 <p><%= offer.book.category %></p>
                 <h4><%= offer.book.author %></h4>
                 <h4 class="card-footer"><i class="fa fa-map-marker fa-lg green"></i> <%= offer.book.offers.count%> prêteurs</h4>
               </div>
             </div>
           </div>
        <% end %>
      </div>
    </div>
  </div><!--Fin row-->

  <div class="row"><!--Debut row-->
    <div class="padded">
      <div class="col-sm-12">
        <h2 class="text-center">Ses emprunts</h2>
        <% @bookings.each do |booking| %>
         <div class="card-book">
            <div class="col-xs-12 col-sm-4">

               <div class="card-image" style="background-image:url('<%= image_url booking.offer.book.image %>')"></div>

               <div class="card">
                 <h2><%= booking.offer.book.title %></h2>
                 <p><%= booking.offer.book.category %></p>
                 <h4><%= booking.offer.book.author %></h4>
               </div>
             </div>
           </div>
        <% end %>
      </div>
    </div>
  </div><!--Fin row-->




</div>
