<div class="container padded">
  <div class="row">
     <div class="col-sm-6 col-sm-offset-3 signup-box">
      <h2 class="text-center">Mot de passe oublié?</h2>
      <br>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Réinitialiser mon mot de passe", class: "btn btn-primary", style: "width: 100%" %>
        </div>
      <% end %>
      <br>
      <div class="signup-or-separator">
        <span class="signup-or-separator--text">ou</span>
        <hr>
      </div>
      <%= render "devise/shared/links" %>
     </div>
  </div>
</div>
