<div class="card-book">
  <div class="col-xs-12 col-sm-4">
    <%= link_to "#" do %>
      <div class="card-image" style='background-image: url("<%= image_url url %>")'></div>
    <% end %>
    <div class="card">
      <h2><%= title %></h2>
      <p><%= category %></p>
      <h4><%= author %></h4>
    </div>
  </div>
</div>
