<div class="container footer">
  <hr>
  <ul class="list-unstyled list-inline">
    <li><%= link_to 'Le concept' %></li>
    <li><%= link_to 'La FAQ' %></li>
    <li><%= link_to 'Les mentions légales' %></li>
    <li><%= link_to 'Facebook', 'https://www.facebook.com/Webibli/', target: "_blank" %></li>
    <li><%= link_to 'Twitter','https://twitter.com/webibli', target: "_blank" %></li>
  </ul>
</div>
