<!-- Banner -->
<div class="banner-top banner-home" style='background-image: url("<%= image_url("banner-home.jpg") %>")'>
  <div class="bg-filter bg-gradient"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1>Envie d’emprunter ce livre ?</h1>
        <%= image_tag("fleche-short.png" , class: "fleche") %>
      </div>
    </div>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h2 class="text-center">Retrouvez des livres spécialisés dans le web en fouillant la bibliothèque de vos voisins</h2>
        </div>
      </div>
      <div class="text-center">
       <%= link_to "Parcourez la bibliothèque", books_path, :class => "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>

<!-- Categories -->

<div class="container padded">
  <div class="row">
    <div class="col-sm-4">
      <%= link_to books_path(cat: 'ux'), class: 'link-unstyled' do %>
        <div class="banner-top" style='background-image: url("<%= image_url("category-ux.jpg") %>")'>
          <div class="card-image">
            <div class="bg-filter bg-gradient"></div>
            <h2>UX</h2>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-4">
      <%= link_to books_path(cat: 'graphisme'), class: 'link-unstyled' do %>
        <div class="banner-top" style='background-image: url("<%= image_url("category-graphisme.jpg") %>")'>
          <div class="card-image">
            <div class="bg-filter bg-gradient"></div>
            <h2>Graphisme</h2>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-4">
      <%= link_to books_path(cat: 'développement'), class: 'link-unstyled' do %>
        <div class="banner-top" style='background-image: url("<%= image_url("category-developement.jpg") %>")'>
          <div class="card-image">
            <div class="bg-filter bg-gradient"></div>
            <h2>Développement</h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <%= link_to books_path(cat: 'webdesign'), class: 'link-unstyled' do %>
        <div class="banner-top" style='background-image: url("<%= image_url("category-webdesign.jpg") %>")'>
          <div class="card-image">
            <div class="bg-filter bg-gradient"></div>
            <h2>Webdesign</h2>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-4">
      <%= link_to books_path(cat: 'webmarketing'), class: 'link-unstyled' do %>
        <div class="banner-top" style='background-image: url("<%= image_url("category-webmarketing.jpg") %>")'>
          <div class="card-image">
            <div class="bg-filter bg-gradient"></div>
            <h2>Webmarketing</h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Les livres -->

<div class="container padded">
  <div id="bookshelf" class="row bookshelf">
    <h2 class="text-center">Les derniers livres ajoutés</h2>
      <% @books.each do |book| %>
        <div class="col-xs-12 col-sm-3">
          <%= link_to book_path(book) do %>
            <div class="image-container">
              <%= image_tag(book.image, class: "book img-responsive") %>
            </div>
          <% end %>
          <div>
            <h3 class="text-center"><%= book.title %></h3>
          </div>
        </div>
      <% end %>
  </div>
  <div class="text-center">
    <%= link_to "Voir tous les livres", books_path, :class => "btn btn-primary btn-lg" %>
  </div>
</div>

<hr>
<!-- Temoignages -->

<div class="container padded">
  <h2 class="text-center">Les weblinautes</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card card-testimonial top text-center">
        <div class="arrow"></div>
        <p>Une bibliothèque gratuite et locale pleine de livres de référence. Merci Webibli !</p>
        <h4>Christophe - Webdesigner</h4>
      </div>
      <div class="text-center">
        <%= image_tag("testimonial-1.jpg", class: 'avatar avatar-xlarge')  %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-testimonial top text-center">
        <div class="arrow"></div>
        <p>Lire pleins de livres, progresser et rencontrer des gens sympas, que demandez de plus ?</p>

        <h4>Anouck - Webmarketing</h4>
      </div>
      <div class="text-center">
        <%= image_tag("testimonial-2.jpg", class: 'avatar avatar-xlarge')  %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-testimonial top text-center">
        <div class="arrow"></div>
        <p>J'ai enfin ouvert un livre sur la typo, de quoi avoir l'air plus avisé quand je choisis mes googles font :D</p>
        <h4>Mélanie - Développeuse</h4>
      </div>
      <div class="text-center">
        <%= image_tag("testimonial-3.jpg", class: 'avatar avatar-xlarge')  %>
      </div>
    </div>
  </div>
</div>
