<div class="container">
  <div class="row">
    <h1 class="text-center">Bibliothèque</h1>
    <div class="padded">
      <div class="container">
        <div class="row">
          <% @array.each do |book| %>
             <div class="col-xs-12 col-sm-4">
                <%= link_to book_path(book), :class => "card" do %>
                 <div class="img-medium" style="background-image:url('<%= image_url book.image %>')"></div>

                 <div class="card-bloc">
                  <div class="padded">
                    <h2><%= book.title %></h2>
                    <p><%= book.description %></p>
                    <div class="user-badge user-badge-red user-badge-xl"><%= book.offers.count%></div>
                    <p><span class="badge"><%= book.category %></span> - <%= book.author %></p>
                  </div>
                 </div>
                <% end %>
             </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

