<h1 class="text-center">Index books</h1>
<div class="container">
  <div class="row">
    <% @array.each do |book| %>
      <div class="col-sm-4">
        <h2><%= book.title %></h2>
        <p><%= book.description %></p>
        <p>
        <%= image_tag book.image %>
        </p>
        <p><span class="badge"><%= book.category %></span> - <%= book.author %></p>
      </div>
    <% end %>
  </div>
<div>

