<div class="padded">
  <div class="container">
    <div class="row">


      <div class="col-md-4">
        <div class="image-container">
          <%= image_tag @book.image, class: "book-fiche img-responsive" %>
        </div>
      </div>

      <div class="col-md-8">
        <h1 class="mt0"><%= @book.title %></h1>
        <h3> <%= @book.subtitle %> </h3>
        <h3><%= @book.category %> - <%= @book.author %></h3>
        <% if @book.pages_number %>
          <h5> <%= @book.pages_number %> pages </h5>
        <% end %>
        <p class="truncate"><%= @book.description %></p>
      </div>
    </div>

    <hr>

    <div class="row">

      <% if @book.offers.count == 1 %>
          <h2>Il y a un prêteur pour ce livre</h2>
      <% elsif @book.offers.count >= 1 %>
          <h2>Il y a <%= @book.offers.count %> prêteurs pour ce livre</h2>
      <% end %>

      <div class="col-md-4">


          <!-- OFFERS -->
          <% @offers.each do |offer|%>
            <div class="row">
              <div class="col-md-2">
               <%= image_tag (offer.user.profil_img ? offer.user.profil_img : offer.user.picture.url(:thumb)), class:'avatar avatar-large' %>
              </div>
              <div class="col-md-10">
                <h2 class="mb10 mt0"><%= offer.user.first_name%> <%= offer.user.last_name%></h2>
                <h4><%= link_to 'voir son profil', user_path(offer.user)%></h4>
                <% if offer.published? %>
                  <%= simple_form_for [offer, @booking] do |f| %>
                    <%= f.button :submit, "Réservez ce livre", class: "btn btn-primary" %>
                  <% end %>

                <% else %>
                  <p>Ce livre n'est pas disponible actuellement </p>
                <% end %>
              </div>
            </div>
            <hr>
          <% end %>

        </div>
      <div class="col-md-8">
        <!-- MAP -->
        <div id="map" style="width: 100%; height: 400px;"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(16);
                  });
                })
          <% end %>
        <% end %>
      </div>
    </div>


  </div>
</div>
