<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag("https://unsplash.it/260/324", class: "img-responsive") %>
    </div>
    <div class="col-sm-8">
      <h2> <%= @book.title %> </h2> <br>
      <h3> <%= @book.author %> </h3> <br>
      <p class="badge"> <%= @book.category %> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p> <%= @book.description %> </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <% raise %>
    <% if @book.offers.count == 1 %>
        <h3>Il y a actuellement un livre disponible, réservez le vite!</h3>
    <% elsif @book.offers.count >= 1 %>
        <h3>Il y a actuellement <%= @book.offers.count %> livres disponibles </h3>
    <% end %>
    <div class="">
      <% @users.each do |user|%>
        <p><%= user.email %></p>
      <% end %>

    </div>
  </div>
</div>
