
<% if @user.address1 == nil or @user.address1.empty? %>
  <% content_for(:alert) do %>
    Vous ne pouvez pas ajouter de livre sans avoir renseigné votre lieu déchange.
    <%= link_to('Éditer votre profil', edit_user_registration_path) %>
  <% end %>
<% end %>

<h1 class="text-center">New offer</h1>
<div class="container">
  <div class="row">
    <input type="text" id="book-title">
  </div>
  <div id="results" class="row">
  </div>
</div>

<%= form_for(@book, url: book_offer_path) do |f| %>
  <%= f.text_field :title, class: "hidden" %>
  <%= f.text_field :description, class: "hidden" %>
  <%= f.text_field :image, class: "hidden" %>
  <%= f.text_field :author, class: "hidden" %>
<% end %>

<%= content_for :after_js do %>
  <%= javascript_tag do %>
    // <script>
    $(document).ready(function() {

      $('body').on('click', ".card-container", function() {
        // On récupère le "data-book", on remet les caractères spéciaux, et on transforme la string en un hash javascript
        var data = JSON.parse(unescape($(this).data("book")));

        // Vis ta vis de vinaigrette
        $('#book_title').val(data.title);
        $('#book_description').val(data.description);
        setTimeout(function() {
         $('#new_book').submit();
        }, 500);
      });

      $('#book-title').on('keyup', function() {
        $('#results').html('<div class="spinner-loader">Loading…</div>');

        $.ajax({
          type: "GET",
          url: "https://www.googleapis.com/books/v1/volumes?q=" + $(this).val() + "&key=" + '<%= ENV["GOOGLE_API_KEY"] %>',
          success: function(data) {
            $('#results').html('');

            for( i = 0; i < data.items.length; i++) {
              // On récupère toutes les infos et on en fait un beau hash
              var bookInfo = {
                title: data.items[i].volumeInfo.title,
                subtitle: data.items[i].volumeInfo.subtitle,
                description: data.items[i].volumeInfo.description,
                // Si il n'y a pas d'image on utilise un placeholder
                image: (data.items[i].volumeInfo.imageLinks) ? data.items[i].volumeInfo.imageLinks.thumbnail : "http://placehold.it/350x150",
                // Si il n'y a pas d'auteur une string vide
                author: (data.items[i].volumeInfo.authors) ? data.items[i].volumeInfo.authors[0] : ""
              }


              // On prend notre beau hash et on échappe les caractères spéciaux (""), on le transforme en string et on
              // le met dans notre HTML dans un attribut "data-book"
              $('#results').append(
                '<div class="col-xs-12 col-sm-4 col-md-4 card-container" data-book="' + escape(JSON.stringify(bookInfo)) + '" id="result_' + i + '">' +
                  '<div class="card-image" style=background-image:url("' +
                  bookInfo.image +
                  '")></div>' +
                  '<div class="card">' +
                    '<h2>' +
                      bookInfo.title +
                    '</h2>' +
                    '<p>' +
                      bookInfo.subtitle +
                    '</p>' +
                  '</div>' +
                '</div>'
              )
            }
          },
          error: function(data) {
            console.log('Some error occurred');
          }
        });
      });
    });
  <% end %>
<% end %>
