
<% if @user.address1 == nil or @user.address1.empty? %>
  <% content_for(:alert) do %>
    Vous ne pouvez pas ajouter de livre sans avoir renseigné votre lieu déchange.
    <%= link_to('Éditer votre profil', edit_user_registration_path) %>
  <% end %>
<% end %>

<h1 class="text-center">New offer</h1>
<div class="container">
  <div class="row">
    <input type="text" id="q">
  </div>
  <div id="results">
  </div>
</div>

<%= form_for(@book, url: book_offer_path) do |f| %>
  <%= f.text_field :title, class: "hidden" %>
  <%= f.text_field :description, class: "hidden" %>
  <%= f.text_field :image, class: "hidden" %>
  <%= f.text_field :author, class: "hidden" %>
<% end %>

<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#q').on('keyup', function() {
        $.ajax({
          type: "GET",
          url: "https://www.googleapis.com/books/v1/volumes?q=" + $('#q').val() + "&key=" + '<%= ENV["GOOGLE_API_KEY"] %>',
          success: function(data) {
            $('#results').html('');
            console.log(data);
            for(i=0;i<data.items.length;i++) {
              $('#results').append(
                '<div class="card-book" id=result_' + i + '>' +
                  '<div class="col-xs-12 col-sm-4">' +
                    '<div class="card-image" style=background-image:url("' +
"http://placehold.it/350x150"
                      +
                    '")></div>' +
                    '<div class="card">' +
                      '<h2>' +
                        data.items[i]["volumeInfo"]["title"] +
                      '</h2>' +
                      '<p>' +
                        data.items[i]["volumeInfo"]["subtitle"] +
                      '</p>' +

                    '</div>' +
                  '</div>' +
                '</div>'
              )
            }
          },
          error: function(data) {
            console.log('Some error occurred');
          }
        });
      });
      $('.card-image').on('click', function() {
        $ajax({
          type: "POST",
          url: "book_offer",
          success: function(data) {
          var index = $(this).parent().parent().attr('id').slice($(this).parent().parent().attr('id').lastIndexOf('_') + 1)
          console.log(data.items[index]);
          $('#book_title').val(data.items[index]["volumeInfo"]["title"]);
          $('#book_description').val(data.items[index]["volumeInfo"]["description"]);
          setTimeout(function() {
            $('#new_book').submit();
          }, 500);
        }
      })
      });
    });
  <% end %>
<% end %>
